PORT=8000
# token 
SECRET_TOKEN_JWT=
# db 
DATABASE_URL="root@tcp(127.0.0.1:3306)/v2_articleing?charset=utf8mb4&parseTime=True&loc=Local"
# email
EMAIL_FROM=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASS=
# client 
CLIENT_ORIGIN=http://localhost:3000
# file 
FILE_PATH=http://localhost:8000/public/